extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu diam porttitor, rutrum diam id, pretium justo. Vivamus ultricies nulla in ornare accumsan. Suspendisse sed est sit amet mi pharetra dignissim. Curabitur ullamcorper gravida semper. Quisque sodales, ex ultricies dignissim egestas, nunc lorem luctus nulla, vel posuere ipsum arcu nec elit.

                p Donec et finibus turpis, vel fringilla neque. Duis ac nisl viverra, aliquam metus eget, porttitor purus. Nullam nisi leo, blandit et neque a, scelerisque laoreet arcu. Donec ligula augue, dapibus condimentum tortor at, faucibus rhoncus purus. Maecenas risus nulla, congue vel dui a, bibendum consectetur purus. Sed quis congue elit. Etiam velit arcu, tempor vel dui et, accumsan consequat ante.

                p Integer ullamcorper faucibus purus quis convallis. Praesent vitae ipsum tortor. Vestibulum vitae finibus metus, et viverra ipsum. Phasellus sit amet lorem faucibus enim condimentum bibendum at ac urna. Vestibulum eleifend elementum libero non egestas.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Ícono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Suspendisse fringilla elit ut ante porttitor, eu tempus neque porta. Donec ac condimentum felis, et congue felis. Vivamus auctor quis nibh non cursus.
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Ícono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Suspendisse fringilla elit ut ante porttitor, eu tempus neque porta. Donec ac condimentum felis, et congue felis. Vivamus auctor quis nibh non cursus.
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Ícono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores precios
                    p Suspendisse fringilla elit ut ante porttitor, eu tempus neque porta. Donec ac condimentum felis, et congue felis. Vivamus auctor quis nibh non cursus.